<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.19041.1" targetFramework="net472" />
  <package id="QueryString.NET" version="1.0.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>